<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885786376830-8dhhgff8g06qn2uci62oc985mj7bvuh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885786376830-8dhhgff8g06qn2uci62oc985mj7bvuh4</string>
	<key>API_KEY</key>
	<string>AIzaSyBn7muLquxhBVBCAM_IzAWTnqW68fZVkQk</string>
	<key>GCM_SENDER_ID</key>
	<string>885786376830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mdc100Series</string>
	<key>PROJECT_ID</key>
	<string>final-b2bd7</string>
	<key>STORAGE_BUCKET</key>
	<string>final-b2bd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885786376830:ios:c2cb2bbb2cf41c61d9762f</string>
</dict>
</plist>